<div class="container">
    <h1>Hello <span data-bind = "text: username" type='text' id="username" readonly="true"></span></h1>
    <h3> <span data-bind = "text: type" type='text' id="type" readonly="true"></span></h3>
</div>
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Website CSS style
		<link href="css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!--<link rel="stylesheet" href="style.css">-->
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Here you can modify your name and your password.</h5>
					<form class="" method="post" action="#">


						<div class="form-group">
							<label for="fullname" class="cols-sm-2 control-label">Full Name: </label> <span data-bind = "text: fullname" type='text' id="fullname" readonly="true"></span>
							<div class="cols-sm-10">
                <p style="color:red" data-bind="text:fullnameError"></p>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input data-bind='textinput: fullname'type="text" class="form-control"  id="fullname"  placeholder="Enter your full name" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
                <p style="color:red" data-bind="text:passwordError"></p>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input data-bind ='textinput: password'type="password" class="form-control" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>



						<div class="form-group ">
							<button data-bind='click: edit' type="button" id="edit" class="btn btn-primary btn-lg btn-block read-button">Edit</button>
						</div>
            <div class="form-group ">
              <button data-bind='click: logout' type="button" id="logout" class="btn btn-primary btn-lg btn-block read-button">Log Out</button>
            </div>
					</form>
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
